@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

:root{
    --primary-color:darkviolet;
    --primary-grad-color:linear-gradient(to left,darkviolet,deepskyblue);
}

*{
    box-sizing:border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;

    padding:0;
    margin:0;
}

/* Start Header */
/* Start Intro */
.headerintros{
    background-color:var(--primary-color);
    color:#fff;
    padding:15px 0;
    
    display:none;
}

@media (min-width:1200px) {
    .visiblelgs{
        display:block;
    }
}

.infos{
    display:flex;
    justify-content:space-between;
    align-items:center;
    
    font-size:14px;
    font-weight:bold;
}

.headericons a{
    color:#fff;
    margin:0 10px;
}
/* End Header Intro */

header{
    height:80vh;
    background:var(--primary-grad-color);
    position: relative;
}

/* Start Nav Bar  */
.menustyles li a{
    color:#000;
    font-size:13px;
    letter-spacing:1.5px;

    transition:color .3s;
}

.menustyles li a:hover{
    color:var(--primary-color);
}

.navbuttons{
    border:none;
}

.navbuttons:focus{
    box-shadow:none;
}

.lnes1,.lnes2,.lnes3{
    width:17px;
    height:2px;
    margin:3px;

    transition:all .5s;
}

.crossxs .lnes1{
    transform:rotate(-45deg) translate(-3.5px,4px);
}

.crossxs .lnes2{
    opacity:0;
}

.crossxs .lnes3{
    transform:rotate(45deg) translate(-3px,-4px);
}

/* End Nav Bar  */

/* Start Banner */
.banners{
    width:90%;

    position: absolute;
    left:50%;
    top:50%;

    transform:translate(-50%,-50%);
    
}

.banner-headers{
    font-weight:bold;
    letter-spacing:3px;
    animation-name:bnanis;
    animation-duration:2s;
}

.banner-parahraphs,.banner-btns{
    animation-name:bnanis;
    animation-duration:2s;
    animation-delay:.5s;

    animation-fill-mode:backwards;
}


@keyframes bnanis {
    from{
        transform:translateY(100px);
        opacity:0;
    }
    
    to{
        transform:translateY(0px);
        opacity:1;
    }
}

/* End Banner */

.studentgroups{
    width:50%;

    position: absolute;
    left:0;
    bottom:0;

    z-index:1;
}

.waves{
    width:100%;
    position: absolute;
    left:0;
    bottom:-5px;

    z-index:2;
}

/* End Header */

/*  Start Student Counter Section */

.counters{
    width:100%;
    height:20%;

    font-weight:bold;
    letter-spacing:3px;
    
    display:flex;
    justify-content:center;
    align-items:center;
}

.counteritems{
    float:left;
    width:25%;
    text-align:center;
}

.counteritems .fas{
    background:var(--primary-grad-color);
    color:transparent;
    -webkit-background-clip:text;
}

/*  End Student Counter Section */